#Left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 45);
    width: auto;
    height: calc(100vh - 20px);
    left: 10px;
    margin-left: 10px;
    aspect-ratio: 4/5;
    border-radius: 0.5rem;
    min-height: 10rem;
}

.drop-zone {
    position: relative;
    width: 80%;
    height: 10rem;
    border: 2px dashed #ccc;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.drop-zone-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.drop-zone img {
    transition: 0.3s ease;
    height: calc(32px + 3vh);
}

.drop-zone.dragging-over img {
    transform: translateY(90%);
}

.drop-zone p {
    margin: 0;
    font-size: calc(8px + 3vh);
    color: #888;
    user-select: none;
}
.drop-zone.dragging-over p {
    display: none;
}

.drop-zone p:last-child {
    margin: 0;
    font-size: calc(4px + 2vh);
    color: #888;
    margin-top: 10px;
}

.drop-zone.active {
    border-color: #007bff;
}

.drop-zone:hover {
    opacity: 0.7;
}

.browseBtn {
    color: white;
    text-decoration: underline;
}

.hidden-fill-input {
    position: absolute;
    top: 0;
    background-color: transparent;
    color: transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.hidden-fill-input::file-selector-button {
    display: none;
}